body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}
form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
form div {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #45a049;
}
button.delete-button {
    background-color: #f44336;
}
button.delete-button:hover {
    background-color: #e53935;
}
p {
    text-align: center;
    margin-top: 20px;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
.success-message {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}