<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Info Page</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>User Information</h2>
<form th:action="@{/update-info}" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:value="${user.email}" readonly />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${user.name}" required />
  </div>
  <div>
    <label for="adress">Adress:</label>
    <input type="text" id="adress" name="adress" th:value="${user.adress}" required />
  </div>
  <div>
    <button type="submit">Update</button>
  </div>
  <p th:text="${message}"></p>
</form>

<form th:action="@{/delete-user}" method="post">
  <button type="submit" style="background-color:red; color:white;">Delete Account</button>
</form>

<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>
