<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Register!</h2>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label>Name</label>
        <label>
            <input type="text" th:field="*{name}" required />
        </label>
    </div>
    <div>
        <label>Password</label>
        <label>
            <input type="password" th:field="*{password}" required />
        </label>
    </div>
    <div>
        <label>Email</label>
        <label>
            <input type="email" th:field="*{email}" required />
        </label>
    </div>
    <div>
        <label>Adress</label>
        <label>
            <input type="text" th:field="*{adress}" required />
        </label>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<p th:text="${message}"></p>
</body>
</html>
